@font-face {
    font-family: "Aileron";
    src: url(../font/Aileron-Regular-webfont.woff) format("woff");
}


body,html{
    height:100%;
    width: auto;
}

#hbMenu{
    position:fixed;
    right:2vh;
    top:5%;
}

#monMenu{
    position: fixed;
    display:none;
    right:2vh;
    top:10%;
    
}

.menu ul{
    list-style:none;
}

.BG{

    background-image: url("../img/BG1.jpg");

    height: 100vh;
    width:auto;

    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

}

.container text{
    text-align: center;
}

#Slide1.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;

    
}

#Slide1 h1, #Slide p{
    text-align: center;
}

#ContentS2{

    margin-top: 20%;
}

#ContentS3{

    padding-top: 20%;
    padding-bottom: 5%;
}

#Slide2 h1{

    font-family:'Caladea',serif;
    font-weight: bold;
}

.pave{

    margin-top: 40px;
}

 #Statue{
    padding-top: 9px;
    margin-bottom: 0px;

} 

.RedTitle{
    
    color: red;
}

.RedUnder
{
    color:red;
    text-decoration: underline;
    text-decoration-color: red;   
}

#Slide2 h6, #Slide2 p{
  font-family: "Aileron";
}

#Slide2 h6{
    color:red;
}

#Slide2 .pave p{
    color:#666666;
}

.container-fluid{
    background-color:#d63c37;
}

#Slide3 h1{
    text-align: right;
    font-family: 'Caladea',serif;
}

#Slide3 h1 span{
    text-decoration: underline;
}

#Slide3 h3, #Slide3 p {
    text-align: right;
    font-family: "Aileron";
    
}

#Slide3 p{
    margin-bottom: 30px;
}

#Slide3 h3{
    color: white;
}

#Slide3 h3 span{
    font-weight: bold;
}