body,html{
    height:100%;
    width: auto;
}


.container text{
    text-align: center;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1080px;
    width:1920px;
}


#Slide1{
    background-image: url("../img/BG1.jpg");

    height: 100%;
    width:auto;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#Statue{
    height: 100%;
    padding-bottom: 0px;
}

.RedTitle{
    
    color: red;
}

#Slide1 h1,p{
    text-align: center;
}
