body,html{
    height:100%;
    width: auto;
}

.BG{

    background-image: url("../img/BG1.jpg");

    height: 1440px;
    width:auto;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}


.container text{
    text-align: center;
}

#Slide1.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1080px;
    width:1920px;
}

#ContentS2{

    margin-top: 25%;
}

#Slide2 h1{

    font-family:'Caladea',serif;
    font-weight: bold;
}

.pave{

    margin-top: 40px;
}

#Statue{
    height: 100%;
}

.RedTitle{
    
    color: red;
}

.RedUnder
{
    color:red;
    text-decoration: underline;
    text-decoration-color: red;

    
}


#Slide1 h1, #Slide p{
    text-align: center;
}
